<%- include header %>

<table class="u-full-width table">
    <thead>
    <tr>
        <th>日期</th>
        <th>Android登录用户数</th>
        <th>iOS登录用户数</th>
        <th>PC登录用户数</th>
        <th>总登录用户数</th>
        <th>文章阅读量</th>
        <th>咨询量</th>
        <th>购买服务用户数</th>
        <th>购买服务量</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Dave Gamache</td>
        <td>26</td>
        <td>Male</td>
        <td>San Francisco</td>
        <td>Dave Gamache</td>
        <td>26</td>
        <td>Male</td>
        <td>San Francisco</td>
        <td>Dave Gamache</td>
    </tr>
    </tbody>
</table>
<%- include footer %>